@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg-masjid-1.jpg");
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px);
  padding: 2rem;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.home-main-wrapper {
  display: grid;
  grid-template-areas: "a . b" ". c ." "d . e";
  justify-content: space-around;
  align-content: center;
  height: 90vh;
  gap: 2rem;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(218, 202, 152, 0.719);
  border-radius: 10px;
  border: dashed 1px rgb(218, 202, 152);
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  text-decoration: none;
  /* box-shadow: rgba(240, 172, 46, 0.4) 5px 5px, rgba(240, 172, 46, 0.3) 10px 10px,
    rgba(240, 172, 46, 0.2) 15px 15px, rgba(240, 162, 46, 0.1) 20px 20px,
    rgba(240, 156, 46, 0.05) 25px 25px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card-wrapper-1 {
  grid-area: a;
}
.card-wrapper-2 {
  grid-area: b;
}
.card-wrapper-3 {
  grid-area: c;
}
.card-wrapper-4 {
  grid-area: d;
}
.card-wrapper-5 {
  grid-area: e;
}
.card-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-align: center;
  border: 2px dashed rgb(78, 76, 69);
  padding: 1rem 2rem;
  cursor: pointer;
}
