@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg-masjid-2.jpg");
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px);
  padding: 5rem;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.product-wrapper {
  background-color: rgba(218, 202, 152, 0.719);
  width: 100%;
  height: 80vh;
  border-radius: 20px;
  border: dashed 1px rgb(218, 202, 152);
}

.product-videos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  list-style: none;
}

.product-video a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  transition: all ease-in-out 0.2s;
}

.product-video a:hover {
  color: gray;
}
